body {
  background: darkgray;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

#navbar {
  margin-top: 10px;
}

.navbar {
  border-radius: 10px;
}

.navbar-brand {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.col-12 {
  margin-top: 10px;
}

#featured-movie-poster {
  display: block;
  max-width: 60%;
  max-height: 20%;
  margin-left: auto;
  margin-right: auto;
}

#featured-movie-title {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

#featured-movie-edit {
  margin-top: 10px;
}

#posts-missing {
  text-align: center;
}

#post-date {
  font-weight: bold;
}

#post-navigation {
  padding-top: 20px;
}

#previous-btn {
  float: left;
  margin-left: -12px;
}

#next-btn {
  float: right;
}

#movie-details {
  margin-top: 20px;
  margin-bottom: 50px;
}

#quick-info-btn-holder {
  text-align: center;
}

#quick-info-btn {
  display: inline;
}

#main-content {
  margin-top: 20px;
}

#details-header {
  margin-top: 10px;
}

.btn-info {
  margin-top: 10px;
}

.btn-outline-secondary {
  float: right;
}

.btn-outline-danger {
  float: right;
  margin-top: 10px;
}